{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>djangodelights</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<nav></nav>
</head>
<body>
	<a href="{% url 'home' %}"><img class='logo' src="{% static 'images/logo.png' %}"></a>
	<nav>
		<a href="{% url 'menu' %}">Menu</a>
		<a href="{% url 'inventory' %}">Ingredients</a>
		<a href="{% url 'purchase' %}">Purchases</a>
		<a href="{% url 'result' %}">Stats</a>
	</nav>
	{% block content %}

	{% endblock %}
	<footer>
		<a href="{% url 'logout' %}">Logout</a>
	</footer>
</body>
</html>