{% extends 'inventory/base.html' %}
{% block content %}
<h3>Inventory:</h3>

<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Unit</th>
		<th>Unit Price</th>
		<th></th>
	</tr>	

	{% for ingredient in ingredient_list %}
	<tr>
		<td><a href="{% url 'update_ingredient' ingredient.id %}">{{ ingredient.name }}</a></td>
		<td>{{ ingredient.quantity }}</td>
		<td>{{ ingredient.unit }}</td>
		<td>{{ ingredient.unit_price }}</td>
	</tr>
	{% endfor %}
</table>
<a href="{% url 'createingredient' %}">Add new ingredient</a>

{% endblock %}